{
  "trailingComma": "es5", // запятые в конце строки (объекты, массивы и т.д.)
  "tabWidth": 4, // кол-во пробелов при нажатии Tab
  "semi": true, // использование точек с запятой в конце операторов
  "singleQuote": true // использование одинарных кавычек вместо двойных кавычек
}